@media only screen and (max-width: 768px) {
  body {
    text-align: justify;
  }
  .ham-label {
    display: block;
    float: right;
  }
  .ham-toggle,
  .clsBtn {
    display: none;
  }
  .rightnav-link {
    display: none;
  }
  main {
    margin: 20px 40px;
    padding: 10px;
  }
  .gallery {
    width: 100%;
  }
  .grid-container {
    display: block;
  }
  .grid-item {
    margin-bottom: 10px;
  }
  .copyright {
    padding: 10px;
    text-align: center;
  }
}
