@media only screen and (max-width: 768px) {
  body {
    text-align: justify;
  }
  .ham-label {
    display: block;
    float: right;
  }
  .ham-toggle,
  .clsBtn {
    display: none;
  }
  .rightnav-link {
    display: none;
  }
  .grid-container {
    display: block;
  }
  .grid-item {
    margin-bottom: 10px;
  }
}
