@media only screen and (max-width: 768px) {
  body {
    text-align: justify;
  }
  .rightnav-link {
    display: none;
  }
  .ham-icon {
    display: block;
    float: right;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .grid-container {
    display: block;
  }
  .grid-item {
    margin-bottom: 10px;
  }
}
